@font-face {
    font-family: Chakra;
    src: url(Fonts/ChakraPetch/ChakraPetch-Regular.ttf);
    font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background: black;
}

header {
    background: rgb(19, 19, 19);
    margin-bottom: 1rem;
    box-shadow: 2px black;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: Chakra;
    font-size: 1.4em;
    background: transparent;
    justify-content: space-between;
    overflow: hidden;
    padding: 14px 16px;
    transition: .5s;
}

.navbar .active {
    color: greenyellow;
    background: rgb(38, 38, 38);
}

.navbar a:hover{
    color: greenyellow;
    background: rgb(38, 38, 38);
}

.navbar ol {
    justify-content: flex-end;
    list-style-type: none;
    display: flex;
}

h1 {
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: 10px;
    font-family: Chakra;
    color: greenyellow;
    margin-bottom: .6rem;
    border: 2px solid white;
    border-radius: 10px 10px 0 0;
    border-style: dotted;
    display: inline-block;
    transition: .5s;

}

h1:hover {
    color: black;
    background: white;
}

h2 {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 10px;
    font-family: Chakra;
    color: greenyellow;
    margin-bottom: .6rem;
    border: 2px solid white;
    border-radius: 0 0 10px 10px;
    border-style: dashed;
    display: inline-block;
    transition: .5s;
}

h2:hover {
    color: black;
    background: white;
}


p {
    font-size: 1.2rem ;
    font-family: Chakra;
    color: greenyellow;
    border: 2px solid transparent;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    transition: .5s;
    position: relative;
    margin: 2rem;
}

p:hover {
    background: yellowgreen;
    border: 2px solid yellowgreen;
    border-radius: 15px 0 15px 0;
    color: black;
}

.break {
    word-break: break-all;
}

.box {
    height: 50%;
    width: 50%;
    margin: .6rem;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 25px;
}